*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black
}


.container{
    max-width: 1170px;
    margin: 0 auto;
}


.header{
    padding-top: 50px;
    padding-bottom: 49px;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav-list{
    list-style: none;
    display: flex;
}


.nav-list li{
    margin-right: 65px;
}


.nav-list li:last-child{
    margin-right: 0;
}

.nav-list a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;

}


.wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

h1{
    max-width: 470px;
    line-height: 90px;
    font-size: 48px;
}


.text{
    font-size: 20px;
    line-height: 23px;
    margin: 50px 0;
    max-width:  470px;
}


.btn{
    background: #C4C4C4;
    font-size: 36px;
    line-height: 42px;
    padding: 16px 66px 17px 67px;
    border: 0;
}


.about-me{
    background: rgba(32, 32, 32, 0.67);
    padding: 203px 135px;
}


.h2-aboutme{
    max-width: 382px;
    font-size: 36px;
    line-height: 42px;
    color: #FBF4F4;
    text-align: center;
    margin-bottom: 76px;
}



.text-ab-me{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FBF4F4;
    max-width: 770px;
}




.Skills{
    padding: 36px 135px 24px auto;
    background-image: url(img/programming.jpg);
}


.h2-skills{
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}


.skillbox{
    display: flex;
    justify-content: space-between;
    height: 350px;
}

.h3-verst{
    margin: 20px;
}

.abcd{
    margin: 40px;
}

.skill-cards{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 108px;
    width: 366px;
    height: 439px;
    left: 136px;
    top: 66px;
}


.how-to-call-me{
    padding: 35px 435px 103px 435px;
    background-image: url(img/phone.jpg);
}


.how-t-c-m{
    text-align: center;
}


.push-o-b-u{
    margin: 37px;
}

.btn-call{
    padding: 25px;
    width: 370px;
    height: 70px;
    background-color: #C4C4C4;
    display: grid;
}


.ph-num{
    text-align: center;
    margin: 20px;
}


.altern{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 120px;
}


.socials{
    display: flex;
    justify-content: space-between;
    margin: 55px auto;
    width: 360px;
}

