*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(235, 235, 235);
    background-size: 300px, 380px, 100%;
    color: #fff;
}


.main{
    border-radius: 20%;
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}



.container{
    width: 100%;
    max-width: 900px;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    border-radius: 20%;
}

.left-block{
    background-color: lightgrey;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.left-title{
    font-size: 1.9rem;
    margin: 1rem;
}

a{
    text-decoration: none;
}

.social-icon{
    display:inline-block;
    color: #fff;
    font-weight: 900;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.667);
    margin: 1rem 1rem;
}

p{
    margin: 1rem 0;
    max-width: 300px;
    width: 100px;
    font-size: 0.95rem;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
}


.form{
    display: flex;
    flex-direction: column;
}



input{
    background: #fff;
    border: none;
    width: 300px;
    padding: 1rem 0.75rem;
    margin: 0.5rem 0;
}

.help{
    color: inherit;
    margin: 1rem 1rem;
    padding-bottom: 7px;
    border-bottom: 1px dashed #fff;
}



.left-btn{
    background: #3AB19B;
    border: none;
    border-radius: 50px;
    padding: 0.85rem 2.75rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}


.right-block{
    background: #3AB19B;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 332px;
}



.right-btn{
    background: #3AB19B;
    border: 2px solid white;
    width: 120px;
    height: 60px;
    border-radius: 30%;
    color: white;
}

I{

}


