
.container{
    margin: 0 auto;
    max-width: 1140px;
}

.flag{
    background: #fff;
    border: 2px solid lightgrey;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.circle{
    background: rgb(109, 21, 21);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}







.insta{
    width: 500px;
    height: 500px;
    background: rgb(238,249,59);
    background: linear-gradient(27deg, rgba(238,249,59,1) 17%, rgba(209,59,188,1) 51%, rgba(255,162,0,1) 100%, rgba(0,0,0,1) 100%);
    border-radius: 100px;
}

.line{
    width: 400px;
    height: 400px;
    border: 30px solid white;
    position: absolute;
    margin: auto;
    top: 469px;
    left: 27px;
    border-radius: 100px;
    background: transparent;
}



.insta-circle{
    border-radius: 50%;
    border: 30px solid white;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 17px;
}


.insta-circle::after{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    margin: auto;
    right: 0;
    content: "";
    left: 186px;
    top: -273px;
}









