
body{
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    background: rgb(190, 0, 32);
}

header, footer{
    background: black;
    height: 200px;
    display: flex;
    justify-content: center;
}

.h1{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 30px;
    align-self: center;
}

main{
    height: 650px;
    display: flex;
}


.side-bar-left{
    background: rgb(168, 209, 21);
    width: 43%;
}


.left-ul{
    list-style-type: none;
}



.item{
    font-size: 20px;
    padding: 10px;
}


.item:hover{
    font-size: 25px;
    font-weight: bold;
    color:red
}


.side-bar-right{
    background: rgb(0, 255, 149);
    width: 100%;
}


.img{
    background-image: url(/img/завантаження.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
}



h2{
    text-align: center;
}

.box{
    background: black;
    width: 150px;
    height: 150px;  
}

.boxes{
    display: flex;
    justify-content: space-around;
}


.box:hover{
    display: flex;
    justify-content: space-around;
    width: 175px;
    height: 175px;
    background: purple;
}

